---
layout: default.njk
---
<section>
    <h3>About Me</h3>

    <div class="about-me">
      <div class="image-container">
        <img class="me-pic" src="/images/me.jpg">
      </div>

      <div class="text-container">
      <p class="about-me-text">I'm an aspiring web designer and developer. I've recently graduated from university and take a deep interest in all things tech and design.
      Growing up, the internet as we know it was a fairly novel thing and I was immediately fascinated by it. I wanted to know what makes websites and games
      work and look the way they do which pushed me to pursue Computing in GCSE. During that time, I learnt a lot about back-end development and I loved
      it, it tickled my brain in the right way and I knew I wanted to revisit this again sometime in the future. So here I am, 5 years later
      delving into the world of tech through front-end development and loving every bit of it. Outside of tech, I love cooking for my loved ones,
      consuming music and art and having a go at making them myself, and spending time in nature.  </p>
      </div>
    </div>
  </section>
