---
layout: default.njk
---
<h2>Functions and Control Flow</h2>
<h6>11th January 2024 by <a href="/about-me">Arshia</a>  </h6>

<p>Discovering and understanding how functions and IF statements work was so interesting. I learned that writing functions
    is really essential as a programmer as it saves a lot of time rewriting a set piece of code by being able to call it
    using a simple variable name whenever it's needed. I can really see it being a super useful tool as a coder. Control Flow
    is also a really neat tool to output certain results depending on different sets of conditions. I used both of these tools
    to write my own code that asks the user the temperature and tells them what clothing would be suitable to wear.
</p>

<p>Here is the program:</p>

<pre>
    <code>
        var temperature = +prompt("What is the temperature?");

        function tempGuide(temperature) {
        if (temperature < 0) {
            return("Just stay inside");} 
        else if (temperature < 30) {
            return("Put your coat and hat on!"); }
        else if (temperature < 50){
          return("Put your coat on!"); }
        else {
            return("Just pants and vest is all good.");
        }
        }
        console.log(tempGuide(temperature));
    </code>
</pre>

<p>The next lesson we progressed onto writing more complex codes with our knowledge of functions and control flow.</p>

<p>Here is a percentage calculator program I wrote that returns a specific percentage of any numer:</p>

<pre>
    <code>
        function percentagecalculator(number, percentage) {
            return((percentage/100) * number)
           }
          
          console.log(percentagecalculator())
    </code>
</pre>

<p> This is a program that outputs the user's drink order depending on their selection: </p>

<pre>
    <code>
        function drinkOrder(size, drink) {
            let drinkName = " ";
            
            switch(drink.toLowerCase()) {
              case 'cola':
                drinkName = "Cola"
                break;
              case 'lemon':
                drinkName = "Lemonade"
                break;
              default:
                drinkName = "Orangeade"
            }
            
            return("You have ordered a " +size+" drink of " + drinkName);
          }
          
          console.log(drinkOrder("Large","cola"));
    </code>
</pre>

<p>This program is a calculator and can do plus, minus, muliplication, and division sums:</p>

<pre>
    <code>
        function calculator(num1, num2, operator) {
            let answer = " ";
            
            switch(operator) {
              case '+':
                answer = num1 + num2
                break;
              case '-':
                answer = num1 - num2
                break;
              case '*':
                answer = num1 * num2
                break;
              case '/':
                answer = num1 / num2
                break;   
            }
            
            return(num1 + " " + operator + " " + num2 + " = " + answer);
          }
          
          console.log(calculator(12,5,"/"));
    </code>
</pre>