---
layout: default.njk
---

<p>Welcome to my blog page where I'll be documenting my web development learning process.</p>

<div class="blog-cards">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title">Javascript Foundations</h5>
        <p class="card-text">Delved into the foundations of JavaScript and learned about variables, operators and concatenation. Wrote my first program too!</p>
        <a href="/blog-post-1" class="btn btn-outline-success class-button blog-button">Read this post</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title">Functions and Control Flow</h5>
        <p class="card-text">Added to my foundational knowledge and wrote more complex programs using IF statements.</p>
        <a href="/blog-post-2" class="btn btn-outline-success  class-button blog-button">Read this post</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title">Pseudocode and Comments</h5>
        <p class="card-text">Understood how useful pseudocode is for preparing to write more complicated programs and had my own go at it.</p>
        <a href="/blog-post-3" class="btn btn-outline-success  class-button blog-button">Read this post</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title">Loops, Array and Objects </h5>
        <p class="card-text">Worked with more complicated JavaScript concepts and wrote really interesting programs using them.</p>
        <a href="/blog-post-4" class="btn btn-outline-success  class-button blog-button">Read this post</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title">The DOM </h5>
        <p class="card-text">Made interactive HTML web pages by connecting elements to Javascript!</p>
        <a href="/blog-post-5" class="btn btn-outline-success  class-button blog-button">Read this post</a>
      </div>
    </div>
  </div>
</div>
</div>