---
layout: default.njk 
---

<section>
    
    <h3>Contact</h3>

    <div class="contact-form">
      <label for="first-name last-name" class="form-label">Name</label>
      <div class="row g-3 form-names">
        <div class="col-sm">
          <input type="text" class="form-control" id="first-name" placeholder="First Name" aria-label="First Name">
        </div>
        <div class="col-sm">
          <input type="text" class="form-control" id="last-name" placeholder="Last Name" aria-label="Last Name">
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="button" class="btn btn-outline-success submit-button">Submit</button>
    </div>
    
    
    <a href="https://github.com/arshiaray"><img class="githublogo" src="/images/github-logo.png" alt="GitHub logo"></a>
    <a href="x"><img class="instalogo" src="/images/insta-logo.png" alt="Instagram logo"></a>
    <a href="x"><img class="twitterlogo" src="/images/twitter_logo.png" alt="Twitter logo"></a>

  </section>