---
layout: default.njk 
---


<div class="message-form" >
    <form action="#" netlify>
        <h2>Message Me!</h2>
    
        <div class="full-name">
        <label for="first-name" class="first-name-label">First Name: </label>
        <input type="text" id="first-name" name="first-name" placeholder="First Name" class="first-name-input" required>
    
        <label for="last-name" class="last-name-label">Last Name: </label>
        <input type="text" id="last-name" name="last-name" placeholder="Last Name" required>
        </div> 
    
    
        <label for="email" class="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Email" class="email-input" required> 
    
        <label for="message" class="message">Message:</label>
        <input type="text" id="message" name="message" placeholder="Message" class="message-input" required> 
        
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Do you accept the terms and conditions?</label>
          </div>
    
        <br>
    
        <button type="submit" class="btn btn-outline-light">Submit</button>
    </form>
    </div>