---
layout: default.njk
---

<section>
        <h4>Python with Code First Girls</h4>
        <p>I took part in a 8-week long Python Kickstarted bootcamp where I learned the fundamentals of Python and by 
            the end I created my own program. The program I created was a recipe finder which takes in an ingredient input
            from the user and searches the Edamam API for recipes with that ingredient and lists them out to the user. 
            Here is a demo of the program I wrote:
        </p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/yf4Km3U2A0o?si=1YZQiS9sKFSVSR43" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
