---
layout: default.njk
---

<section>
        <h4>Web Development with The Coders Guild</h4>
      <p>
        This 16 week bootcamp delving into HTML, CSS, and JavaScript provided me with a strong foundation into web
        development. I was instantly gripped within the first few weeks and by the end of it now, I'm ready
        to take my learning into the working world. I gained a deep respect and admiration for coders once I myself 
        went through the intricate process of coding and knew that is what I wanted to immerse myself into. I've documented
        my learning process with TCG under the 'Blog' section and you can read all about the code I've written during 
        this course. 
      </p>
    </section>